node-red-data/flows.json
[
    {
        "id": "461370def5ae9f29",
        "type": "tab",
        "label": "RV",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d7b1b7dbf8e4bc1b",
        "type": "tab",
        "label": "APS-500",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a6c5fe6fe51d9491",
        "type": "group",
        "z": "461370def5ae9f29",
        "name": "All Interior Lights On/Off",
        "style": {
            "label": true
        },
        "nodes": [
            "565f94900dad66c1",
            "9aab03227baf2c31",
            "ed5f24e6555f5959",
            "e253e180ac9dfbd7",
            "45b263d90d026331",
            "671d48be58e2957d",
            "45fe68c62ecda7d2",
            "15d128e60de3a72e"
        ],
        "x": 34,
        "y": 19,
        "w": 572,
        "h": 402
    },
    {
        "id": "1395a37395e0e102",
        "type": "group",
        "z": "461370def5ae9f29",
        "name": "All Exterior LIghts On/Off",
        "style": {
            "label": true
        },
        "nodes": [
            "262f70e78be05140",
            "ee791ed32bc97ea3",
            "c659308b78326c22",
            "837942b8be60ba07"
        ],
        "x": 634,
        "y": 19,
        "w": 492,
        "h": 162
    },
    {
        "id": "c12c2f76c53497c3",
        "type": "group",
        "z": "461370def5ae9f29",
        "name": "Tank Heaters",
        "style": {
            "label": true
        },
        "nodes": [
            "b524736fd0721f3e",
            "d53d81e1854f8808",
            "b8dce80b40c712bc",
            "cbf88b070f3d5a38",
            "0abfd0b6f481ca76",
            "0483df95700cddd7",
            "b6c0bce97e61eacf",
            "40a09cf8762e20fc",
            "11a22a163de4bdeb",
            "36ea8dbc04c2896d",
            "5ebc3701f2d87b16",
            "86b093c9d3339094",
            "799c9e98a21c0fd2",
            "98054278a786114a",
            "57609fee550c144d",
            "e32b947ea66437e7",
            "c8231a11beb11ef4",
            "6771b289fc7ba3e6",
            "794847aaa61df307",
            "3103bfeb47c99553"
        ],
        "x": 34,
        "y": 859,
        "w": 1092,
        "h": 522
    },
    {
        "id": "ea608056f5f6ac2b",
        "type": "group",
        "z": "461370def5ae9f29",
        "name": "12v off",
        "style": {
            "label": true
        },
        "nodes": [
            "8d7abbd8f26fc3d4",
            "26f87845326b9325",
            "e70af8437ec06aec",
            "bff4dae4164b4f63",
            "36f9ecbb6c41b055",
            "69b254900e28d12a"
        ],
        "x": 634,
        "y": 199,
        "w": 492,
        "h": 262
    },
    {
        "id": "4d8c8f28dfe52f8f",
        "type": "group",
        "z": "461370def5ae9f29",
        "name": "Serve IoT MQTT Panel config files",
        "style": {
            "label": true
        },
        "nodes": [
            "c7e341a0.381cc",
            "2fb1c354.d04e3c",
            "c9e28681.361d78",
            "88974243.7768c",
            "6d83634d94486b46"
        ],
        "x": 1134,
        "y": 199,
        "w": 592,
        "h": 142
    },
    {
        "id": "5e49990c5594c5de",
        "type": "group",
        "z": "461370def5ae9f29",
        "name": "Serve IoT MQTT Panel config files",
        "style": {
            "label": true
        },
        "nodes": [
            "4968b0f0947a18fd",
            "72a91dc3f71c5628",
            "336e1c9f9f7863c3",
            "466e7463bea381a5"
        ],
        "x": 1134,
        "y": 19,
        "w": 592,
        "h": 142
    },
    {
        "id": "8c14fa25e0d7ed09",
        "type": "group",
        "z": "461370def5ae9f29",
        "name": "Water Pump",
        "style": {
            "label": true
        },
        "nodes": [
            "ae210c14b36c6658",
            "168f712ef2988436",
            "6f87d76a19b86c29",
            "0e97071128a08c98",
            "c5f8bdad3c8514d0",
            "ffda1ddc64725d23",
            "070c4bf4f064bf89",
            "eccc68bd27dd4cc4",
            "3119e84fbf050a0f",
            "bd8d7cbb2ae6c1f0",
            "aa30463be30f33d4",
            "f8167042542871b6",
            "e41f7fe39d3063c9",
            "76013d200721d922",
            "27b07dd7f46a8f5a",
            "12938516e76b5b2a",
            "c18dc8fc98a493de",
            "ca9728e223f0b49b",
            "884659a131ce6301",
            "c007cf0a8f6ecb9d",
            "704358f08a05ba0b",
            "63fa8503f41db178",
            "2a4021e7d9063c63"
        ],
        "x": 34,
        "y": 479,
        "w": 1172,
        "h": 362
    },
    {
        "id": "c8afc486318bceee",
        "type": "group",
        "z": "461370def5ae9f29",
        "name": "Generator",
        "style": {
            "label": true
        },
        "nodes": [
            "e7d682c6c64a4fcb",
            "54c38e5154622c60",
            "828e5066ebf1ae77",
            "3eb7a63818c3969f",
            "4662f0fa23be13ec",
            "4abf5902c4d0a16f",
            "3a9acc171d673236",
            "910a986291492aef",
            "3b0a4ae6d4c2d170",
            "ddfa655775159001",
            "26101017d89f1e94",
            "0d1ffa76fffb27cf",
            "a5cac8aca07d2273",
            "5d60730d299ce644"
        ],
        "x": 34,
        "y": 1739,
        "w": 1042,
        "h": 262
    },
    {
        "id": "bbfe14ccd0c2c200",
        "type": "group",
        "z": "461370def5ae9f29",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "9344180afa8c6abb",
            "99460a572baf77ee",
            "67c5467db2d20501",
            "87f7ce4eef5630c0",
            "b50fbcc598059709",
            "2407c60b8a5dc6df",
            "503cf7179fb74f8d",
            "861112a0020f7f31",
            "e2bce4c55c7fe268",
            "8139e17154ceebed",
            "08ad687c9916d15c",
            "ee9c395727168735",
            "254a2e9a7473b302",
            "44fea75c5f8e6724",
            "d96784b99d2320a6",
            "6f4c8143b1c82f43",
            "50f34a62fb3d00b4",
            "bc7473d4c9dffa6e",
            "ac53f268b25343ad",
            "1b96b5ee5187d17a"
        ],
        "x": 34,
        "y": 1399,
        "w": 1092,
        "h": 322
    },
    {
        "id": "9c5de13d667d7ea6",
        "type": "mqtt-broker",
        "name": "mosquitto",
        "broker": "mosquitto",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "262f70e78be05140",
        "type": "mqtt in",
        "z": "461370def5ae9f29",
        "g": "1395a37395e0e102",
        "name": "All Exterior Lights",
        "topic": "rvc/set/lights/ext/all",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9c5de13d667d7ea6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 740,
        "y": 60,
        "wires": [
            [
                "ee791ed32bc97ea3"
            ]
        ]
    },
    {
        "id": "ee791ed32bc97ea3",
        "type": "switch",
        "z": "461370def5ae9f29",
        "g": "1395a37395e0e102",
        "name": "On/Off",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 810,
        "y": 120,
        "wires": [
            [
                "c659308b78326c22",
                "837942b8be60ba07"
            ],
            [
                "c659308b78326c22",
                "837942b8be60ba07"
            ]
        ]
    },
    {
        "id": "c659308b78326c22",
        "type": "mqtt out",
        "z": "461370def5ae9f29",
        "g": "1395a37395e0e102",
        "name": "Awning Lights",
        "topic": "rvc/set/lights/ext/awning",
        "qos": "",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c5de13d667d7ea6",
        "x": 1020,
        "y": 60,
        "wires": []
    },
    {
        "id": "837942b8be60ba07",
        "type": "mqtt out",
        "z": "461370def5ae9f29",
        "g": "1395a37395e0e102",
        "name": "Step Lights",
        "topic": "rvc/set/lights/ext/step",
        "qos": "",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c5de13d667d7ea6",
        "x": 1030,
        "y": 140,
        "wires": []
    },
    {
        "id": "565f94900dad66c1",
        "type": "mqtt out",
        "z": "461370def5ae9f29",
        "g": "a6c5fe6fe51d9491",
        "name": "Main Lights",
        "topic": "rvc/set/lights/int/main",
        "qos": "",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c5de13d667d7ea6",
        "x": 470,
        "y": 60,
        "wires": []
    },
    {
        "id": "9aab03227baf2c31",
        "type": "mqtt out",
        "z": "461370def5ae9f29",
        "g": "a6c5fe6fe51d9491",
        "name": "Living Room OHC",
        "topic": "rvc/set/lights/int/livingohc",
        "qos": "",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c5de13d667d7ea6",
        "x": 490,
        "y": 120,
        "wires": []
    },
    {
        "id": "ed5f24e6555f5959",
        "type": "mqtt out",
        "z": "461370def5ae9f29",
        "g": "a6c5fe6fe51d9491",
        "name": "Kitchen OHC",
        "topic": "rvc/set/lights/int/kitchenohc",
        "qos": "",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c5de13d667d7ea6",
        "x": 470,
        "y": 180,
        "wires": []
    },
    {
        "id": "e253e180ac9dfbd7",
        "type": "mqtt out",
        "z": "461370def5ae9f29",
        "g": "a6c5fe6fe51d9491",
        "name": "Bunk",
        "topic": "rvc/set/lights/int/bunk",
        "qos": "",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c5de13d667d7ea6",
        "x": 450,
        "y": 260,
        "wires": []
    },
    {
        "id": "45b263d90d026331",
        "type": "mqtt out",
        "z": "461370def5ae9f29",
        "g": "a6c5fe6fe51d9491",
        "name": "Bed",
        "topic": "rvc/set/lights/int/bed",
        "qos": "",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c5de13d667d7ea6",
        "x": 450,
        "y": 320,
        "wires": []
    },
    {
        "id": "671d48be58e2957d",
        "type": "mqtt out",
        "z": "461370def5ae9f29",
        "g": "a6c5fe6fe51d9491",
        "name": "Bath",
        "topic": "rvc/set/lights/int/bath",
        "qos": "",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c5de13d667d7ea6",
        "x": 450,
        "y": 380,
        "wires": []
    },
    {
        "id": "45fe68c62ecda7d2",
        "type": "mqtt in",
        "z": "461370def5ae9f29",
        "g": "a6c5fe6fe51d9491",
        "name": "All Interior Lights",
        "topic": "rvc/set/lights/int/all",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9c5de13d667d7ea6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 220,
        "wires": [
            [
                "15d128e60de3a72e"
            ]
        ]
    },
    {
        "id": "15d128e60de3a72e",
        "type": "switch",
        "z": "461370def5ae9f29",
        "g": "a6c5fe6fe51d9491",
        "name": "On/Off",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 290,
        "y": 220,
        "wires": [
            [
                "565f94900dad66c1",
                "9aab03227baf2c31",
                "ed5f24e6555f5959",
                "e253e180ac9dfbd7",
                "45b263d90d026331",
                "671d48be58e2957d"
            ],
            [
                "565f94900dad66c1",
                "9aab03227baf2c31",
                "ed5f24e6555f5959",
                "e253e180ac9dfbd7",
                "45b263d90d026331",
                "671d48be58e2957d"
            ]
        ]
    },
    {
        "id": "ae210c14b36c6658",
        "type": "mqtt in",
        "z": "461370def5ae9f29",
        "g": "8c14fa25e0d7ed09",
        "name": "Waterpump auto off",
        "topic": "rvc/state/waterpump/autooff",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9c5de13d667d7ea6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 640,
        "wires": [
            [
                "3119e84fbf050a0f"
            ]
        ]
    },
    {
        "id": "168f712ef2988436",
        "type": "mqtt out",
        "z": "461370def5ae9f29",
        "g": "8c14fa25e0d7ed09",
        "name": "Waterpump auto-off state",
        "topic": "rvc/state/waterpump/autooff",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c5de13d667d7ea6",
        "x": 610,
        "y": 520,
        "wires": []
    },
    {
        "id": "6f87d76a19b86c29",
        "type": "mqtt in",
        "z": "461370def5ae9f29",
        "g": "8c14fa25e0d7ed09",
        "name": "Set waterpump auto off state",
        "topic": "rvc/set/waterpump/autooff",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9c5de13d667d7ea6",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 520,
        "wires": [
            [
                "0e97071128a08c98"
            ]
        ]
    },
    {
        "id": "0e97071128a08c98",
        "type": "switch",
        "z": "461370def5ae9f29",
        "g": "8c14fa25e0d7ed09",
        "name": "On/Off",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "on|1",
                "vt": "str",
                "case": true
            },
            {
                "t": "regex",
                "v": "off|0",
                "vt": "str",
                "case": true
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 390,
        "y": 520,
        "wires": [
            [
                "168f712ef2988436"
            ],
            [
                "168f712ef2988436"
            ]
        ]
    },
    {
        "id": "c5f8bdad3c8514d0",
        "type": "mqtt in",
        "z": "461370def5ae9f29",
        "g": "8c14fa25e0d7ed09",
        "name": "Waterpump",
        "topic": "rvc/state/waterpump",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9c5de13d667d7ea6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 680,
        "wires": [
            [
                "eccc68bd27dd4cc4"
            ]
        ]
    },
    {
        "id": "ffda1ddc64725d23",
        "type": "trigger",
        "z": "461370def5ae9f29",
        "g": "8c14fa25e0d7ed09",
        "name": "auto-off",
        "op1": "",
        "op2": "off",
        "op1type": "nul",
        "op2type": "str",
        "duration": "5",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "off",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 840,
        "y": 660,
        "wires": [
            [
                "070c4bf4f064bf89"
            ]
        ]
    },
    {
        "id": "070c4bf4f064bf89",
        "type": "mqtt out",
        "z": "461370def5ae9f29",
        "g": "8c14fa25e0d7ed09",
        "name": "Waterpump off",
        "topic": "rvc/set/waterpump",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c5de13d667d7ea6",
        "x": 1020,
        "y": 660,
        "wires": []
    },
    {
        "id": "eccc68bd27dd4cc4",
        "type": "change",
        "z": "461370def5ae9f29",
        "g": "8c14fa25e0d7ed09",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "pump",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 680,
        "wires": [
            [
                "bd8d7cbb2ae6c1f0"
            ]
        ]
    },
    {
        "id": "3119e84fbf050a0f",
        "type": "change",
        "z": "461370def5ae9f29",
        "g": "8c14fa25e0d7ed09",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "autooff",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 640,
        "wires": [
            [
                "bd8d7cbb2ae6c1f0"
            ]
        ]
    },
    {
        "id": "bd8d7cbb2ae6c1f0",
        "type": "join",
        "z": "461370def5ae9f29",
        "g": "8c14fa25e0d7ed09",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": true,
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 490,
        "y": 660,
        "wires": [
            [
                "aa30463be30f33d4"
            ]
        ]
    },
    {
        "id": "aa30463be30f33d4",
        "type": "change",
        "z": "461370def5ae9f29",
        "g": "8c14fa25e0d7ed09",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "($string(msg.payload.pump) = \"on\" and $string(msg.payload.autooff) = \"on\") ? \"on\" : \"off\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 660,
        "wires": [
            [
                "ffda1ddc64725d23"
            ]
        ]
    },
    {
        "id": "b524736fd0721f3e",
        "type": "mqtt in",
        "z": "461370def5ae9f29",
        "g": "c12c2f76c53497c3",
        "name": "All Tank Heaters state",
        "topic": "rvc/set/tanks/all/heater",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9c5de13d667d7ea6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 1020,
        "wires": [
            [
                "b6c0bce97e61eacf"
            ]
        ]
    },
    {
        "id": "d53d81e1854f8808",
        "type": "mqtt out",
        "z": "461370def5ae9f29",
        "g": "c12c2f76c53497c3",
        "name": "Black Tank Heater",
        "topic": "rvc/set/tanks/black/heater",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c5de13d667d7ea6",
        "x": 610,
        "y": 960,
        "wires": []
    },
    {
        "id": "b8dce80b40c712bc",
        "type": "mqtt out",
        "z": "461370def5ae9f29",
        "g": "c12c2f76c53497c3",
        "name": "Fresh Tank Heater",
        "topic": "rvc/set/tanks/fresh/heater",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c5de13d667d7ea6",
        "x": 610,
        "y": 1020,
        "wires": []
    },
    {
        "id": "cbf88b070f3d5a38",
        "type": "mqtt out",
        "z": "461370def5ae9f29",
        "g": "c12c2f76c53497c3",
        "name": "Gray Tank Heater",
        "topic": "rvc/set/tanks/gray/heater",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c5de13d667d7ea6",
        "x": 610,
        "y": 1080,
        "wires": []
    },
    {
        "id": "0abfd0b6f481ca76",
        "type": "mqtt out",
        "z": "461370def5ae9f29",
        "g": "c12c2f76c53497c3",
        "name": "Gray 2 Tank Heater",
        "topic": "rvc/set/tanks/gray2/heater",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c5de13d667d7ea6",
        "x": 610,
        "y": 1140,
        "wires": []
    },
    {
        "id": "0483df95700cddd7",
        "type": "mqtt out",
        "z": "461370def5ae9f29",
        "g": "c12c2f76c53497c3",
        "name": "All Tank Heaters State",
        "topic": "rvc/state/tanks/all/heater",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c5de13d667d7ea6",
        "x": 600,
        "y": 900,
        "wires": []
    },
    {
        "id": "b6c0bce97e61eacf",
        "type": "switch",
        "z": "461370def5ae9f29",
        "g": "c12c2f76c53497c3",
        "name": "On/Off",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 330,
        "y": 1020,
        "wires": [
            [
                "d53d81e1854f8808",
                "b8dce80b40c712bc",
                "cbf88b070f3d5a38",
                "0abfd0b6f481ca76",
                "0483df95700cddd7"
            ],
            [
                "d53d81e1854f8808",
                "b8dce80b40c712bc",
                "cbf88b070f3d5a38",
                "0abfd0b6f481ca76",
                "0483df95700cddd7"
            ]
        ]
    },
    {
        "id": "40a09cf8762e20fc",
        "type": "mqtt in",
        "z": "461370def5ae9f29",
        "g": "c12c2f76c53497c3",
        "name": "Black Tank Heater",
        "topic": "rvc/state/tanks/black/heater",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9c5de13d667d7ea6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 1220,
        "wires": [
            [
                "799c9e98a21c0fd2"
            ]
        ]
    },
    {
        "id": "11a22a163de4bdeb",
        "type": "mqtt in",
        "z": "461370def5ae9f29",
        "g": "c12c2f76c53497c3",
        "name": "Fresh Tank Heater",
        "topic": "rvc/state/tanks/fresh/heater",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9c5de13d667d7ea6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 1260,
        "wires": [
            [
                "98054278a786114a"
            ]
        ]
    },
    {
        "id": "36ea8dbc04c2896d",
        "type": "mqtt in",
        "z": "461370def5ae9f29",
        "g": "c12c2f76c53497c3",
        "name": "Gray Tank Heater",
        "topic": "rvc/state/tanks/gray/heater",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9c5de13d667d7ea6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 1300,
        "wires": [
            [
                "57609fee550c144d"
            ]
        ]
    },
    {
        "id": "5ebc3701f2d87b16",
        "type": "mqtt in",
        "z": "461370def5ae9f29",
        "g": "c12c2f76c53497c3",
        "name": "Gray2 Tank Heater",
        "topic": "rvc/state/tanks/gray2/heater",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9c5de13d667d7ea6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 1340,
        "wires": [
            [
                "e32b947ea66437e7"
            ]
        ]
    },
    {
        "id": "86b093c9d3339094",
        "type": "change",
        "z": "461370def5ae9f29",
        "g": "c12c2f76c53497c3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "(\t   msg.payload.black = \"on\" or msg.payload.fresh = \"on\" or msg.payload.gray = \"on\" or msg.payload.gray2 = \"on\"\t) ? \"on\" : \"off\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 1280,
        "wires": [
            [
                "794847aaa61df307"
            ]
        ]
    },
    {
        "id": "799c9e98a21c0fd2",
        "type": "change",
        "z": "461370def5ae9f29",
        "g": "c12c2f76c53497c3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "black",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 1220,
        "wires": [
            [
                "6771b289fc7ba3e6"
            ]
        ]
    },
    {
        "id": "98054278a786114a",
        "type": "change",
        "z": "461370def5ae9f29",
        "g": "c12c2f76c53497c3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "fresh",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 1260,
        "wires": [
            [
                "6771b289fc7ba3e6"
            ]
        ]
    },
    {
        "id": "57609fee550c144d",
        "type": "change",
        "z": "461370def5ae9f29",
        "g": "c12c2f76c53497c3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "gray",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 1300,
        "wires": [
            [
                "6771b289fc7ba3e6"
            ]
        ]
    },
    {
        "id": "e32b947ea66437e7",
        "type": "change",
        "z": "461370def5ae9f29",
        "g": "c12c2f76c53497c3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "gray2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 1340,
        "wires": [
            [
                "6771b289fc7ba3e6"
            ]
        ]
    },
    {
        "id": "c8231a11beb11ef4",
        "type": "mqtt out",
        "z": "461370def5ae9f29",
        "g": "c12c2f76c53497c3",
        "name": "All Tank Heaters State",
        "topic": "rvc/state/tanks/all/heater",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c5de13d667d7ea6",
        "x": 1000,
        "y": 1280,
        "wires": []
    },
    {
        "id": "6771b289fc7ba3e6",
        "type": "join",
        "z": "461370def5ae9f29",
        "g": "c12c2f76c53497c3",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": ",",
        "joinerType": "str",
        "useparts": true,
        "accumulate": true,
        "timeout": "",
        "count": "4",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 490,
        "y": 1280,
        "wires": [
            [
                "86b093c9d3339094"
            ]
        ]
    },
    {
        "id": "794847aaa61df307",
        "type": "rbe",
        "z": "461370def5ae9f29",
        "g": "c12c2f76c53497c3",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload",
        "topi": "topic",
        "x": 810,
        "y": 1280,
        "wires": [
            [
                "c8231a11beb11ef4"
            ]
        ]
    },
    {
        "id": "3103bfeb47c99553",
        "type": "comment",
        "z": "461370def5ae9f29",
        "g": "c12c2f76c53497c3",
        "name": "All tank heaters indicator on if ANY heater is on",
        "info": "",
        "x": 620,
        "y": 1240,
        "wires": []
    },
    {
        "id": "8d7abbd8f26fc3d4",
        "type": "mqtt in",
        "z": "461370def5ae9f29",
        "g": "ea608056f5f6ac2b",
        "name": "All 12v Off",
        "topic": "rvc/set/alloff",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9c5de13d667d7ea6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 720,
        "y": 260,
        "wires": [
            [
                "26f87845326b9325",
                "e70af8437ec06aec",
                "bff4dae4164b4f63",
                "36f9ecbb6c41b055",
                "69b254900e28d12a"
            ]
        ]
    },
    {
        "id": "26f87845326b9325",
        "type": "mqtt out",
        "z": "461370def5ae9f29",
        "g": "ea608056f5f6ac2b",
        "name": "Interior lights off",
        "topic": "rvc/set/lights/int/all",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c5de13d667d7ea6",
        "x": 1020,
        "y": 240,
        "wires": []
    },
    {
        "id": "e70af8437ec06aec",
        "type": "mqtt out",
        "z": "461370def5ae9f29",
        "g": "ea608056f5f6ac2b",
        "name": "Exterior lights off",
        "topic": "rvc/set/lights/ext/all",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c5de13d667d7ea6",
        "x": 1010,
        "y": 300,
        "wires": []
    },
    {
        "id": "bff4dae4164b4f63",
        "type": "mqtt out",
        "z": "461370def5ae9f29",
        "g": "ea608056f5f6ac2b",
        "name": "Waterpump off",
        "topic": "rvc/state/waterpump",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c5de13d667d7ea6",
        "x": 1020,
        "y": 360,
        "wires": []
    },
    {
        "id": "36f9ecbb6c41b055",
        "type": "mqtt out",
        "z": "461370def5ae9f29",
        "g": "ea608056f5f6ac2b",
        "name": "Tank Heaters off",
        "topic": "rvc/set/tanks/all/heater",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c5de13d667d7ea6",
        "x": 1020,
        "y": 420,
        "wires": []
    },
    {
        "id": "69b254900e28d12a",
        "type": "mqtt out",
        "z": "461370def5ae9f29",
        "g": "ea608056f5f6ac2b",
        "name": "Bath fan off",
        "topic": "rvc/set/lights/int/bathfan",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c5de13d667d7ea6",
        "x": 750,
        "y": 320,
        "wires": []
    },
    {
        "id": "e7d682c6c64a4fcb",
        "type": "mqtt in",
        "z": "461370def5ae9f29",
        "d": true,
        "g": "c8afc486318bceee",
        "name": "Start/Stop Generator",
        "topic": "rvc/set/generator/start",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9c5de13d667d7ea6",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 1840,
        "wires": [
            [
                "26101017d89f1e94"
            ]
        ]
    },
    {
        "id": "54c38e5154622c60",
        "type": "mqtt out",
        "z": "461370def5ae9f29",
        "d": true,
        "g": "c8afc486318bceee",
        "name": "Stop Trigger",
        "topic": "",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c5de13d667d7ea6",
        "x": 980,
        "y": 1780,
        "wires": []
    },
    {
        "id": "828e5066ebf1ae77",
        "type": "delay",
        "z": "461370def5ae9f29",
        "d": true,
        "g": "c8afc486318bceee",
        "name": "",
        "pauseType": "delay",
        "timeout": "250",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 670,
        "y": 1840,
        "wires": [
            [
                "4662f0fa23be13ec"
            ]
        ]
    },
    {
        "id": "3eb7a63818c3969f",
        "type": "change",
        "z": "461370def5ae9f29",
        "d": true,
        "g": "c8afc486318bceee",
        "name": "send off to stop trigger",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "rvc/set/generator/stop_trigger",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 1780,
        "wires": [
            [
                "54c38e5154622c60"
            ]
        ]
    },
    {
        "id": "4662f0fa23be13ec",
        "type": "mqtt out",
        "z": "461370def5ae9f29",
        "d": true,
        "g": "c8afc486318bceee",
        "name": "Start Trigger",
        "topic": "rvc/set/generator/start_trigger",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c5de13d667d7ea6",
        "x": 980,
        "y": 1840,
        "wires": []
    },
    {
        "id": "4abf5902c4d0a16f",
        "type": "switch",
        "z": "461370def5ae9f29",
        "d": true,
        "g": "c8afc486318bceee",
        "name": "Start/Stop",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 480,
        "y": 1840,
        "wires": [
            [
                "3eb7a63818c3969f",
                "828e5066ebf1ae77"
            ],
            [
                "ddfa655775159001",
                "5d60730d299ce644"
            ]
        ]
    },
    {
        "id": "3a9acc171d673236",
        "type": "mqtt out",
        "z": "461370def5ae9f29",
        "d": true,
        "g": "c8afc486318bceee",
        "name": "Start Trigger",
        "topic": "",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c5de13d667d7ea6",
        "x": 980,
        "y": 1900,
        "wires": []
    },
    {
        "id": "910a986291492aef",
        "type": "mqtt out",
        "z": "461370def5ae9f29",
        "d": true,
        "g": "c8afc486318bceee",
        "name": "Stop Trigger",
        "topic": "rvc/set/generator/stop_trigger",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c5de13d667d7ea6",
        "x": 980,
        "y": 1960,
        "wires": []
    },
    {
        "id": "3b0a4ae6d4c2d170",
        "type": "change",
        "z": "461370def5ae9f29",
        "d": true,
        "g": "c8afc486318bceee",
        "name": "send message to stop trigger",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "on",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 1960,
        "wires": [
            [
                "910a986291492aef"
            ]
        ]
    },
    {
        "id": "ddfa655775159001",
        "type": "delay",
        "z": "461370def5ae9f29",
        "d": true,
        "g": "c8afc486318bceee",
        "name": "",
        "pauseType": "delay",
        "timeout": "250",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 560,
        "y": 1960,
        "wires": [
            [
                "3b0a4ae6d4c2d170"
            ]
        ]
    },
    {
        "id": "26101017d89f1e94",
        "type": "rbe",
        "z": "461370def5ae9f29",
        "d": true,
        "g": "c8afc486318bceee",
        "name": "",
        "func": "rbe",
        "gap": "100%",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 330,
        "y": 1840,
        "wires": [
            [
                "4abf5902c4d0a16f"
            ]
        ]
    },
    {
        "id": "0d1ffa76fffb27cf",
        "type": "inject",
        "z": "461370def5ae9f29",
        "d": true,
        "g": "c8afc486318bceee",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "rvc/set/generator/start",
        "payload": "on",
        "payloadType": "str",
        "x": 200,
        "y": 1920,
        "wires": [
            [
                "26101017d89f1e94"
            ]
        ]
    },
    {
        "id": "a5cac8aca07d2273",
        "type": "inject",
        "z": "461370def5ae9f29",
        "d": true,
        "g": "c8afc486318bceee",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "rvc/set/generator/start",
        "payload": "off",
        "payloadType": "str",
        "x": 200,
        "y": 1960,
        "wires": [
            [
                "26101017d89f1e94"
            ]
        ]
    },
    {
        "id": "5d60730d299ce644",
        "type": "change",
        "z": "461370def5ae9f29",
        "d": true,
        "g": "c8afc486318bceee",
        "name": "send off to start trigger",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "rvc/set/generator/start_trigger",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 1900,
        "wires": [
            [
                "3a9acc171d673236"
            ]
        ]
    },
    {
        "id": "f2faf23a455f9473",
        "type": "mqtt out",
        "z": "461370def5ae9f29",
        "name": "",
        "topic": "rvc/state/engine_running",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c5de13d667d7ea6",
        "x": 1110,
        "y": 2240,
        "wires": []
    },
    {
        "id": "c7e341a0.381cc",
        "type": "http in",
        "z": "461370def5ae9f29",
        "g": "4d8c8f28dfe52f8f",
        "name": "",
        "url": "configs/:name",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 1250,
        "y": 240,
        "wires": [
            [
                "6d83634d94486b46"
            ]
        ]
    },
    {
        "id": "2fb1c354.d04e3c",
        "type": "file in",
        "z": "461370def5ae9f29",
        "g": "4d8c8f28dfe52f8f",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "format": "",
        "encoding": "utf8",
        "allProps": false,
        "x": 1580,
        "y": 240,
        "wires": [
            [
                "c9e28681.361d78"
            ]
        ]
    },
    {
        "id": "c9e28681.361d78",
        "type": "change",
        "z": "461370def5ae9f29",
        "g": "4d8c8f28dfe52f8f",
        "name": "Set Headers",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers.Content-Type",
                "pt": "msg",
                "to": "application/json",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "headers.Content-Encoding",
                "pt": "msg",
                "to": "gzip",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "headers.Vary",
                "pt": "msg",
                "to": "Accept-Encoding",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "headers.Content-Disposition",
                "pt": "msg",
                "to": "$join([\"attachment; filename=\\\"\",msg.req.params.name,\".json\\\"\"])",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1490,
        "y": 300,
        "wires": [
            [
                "88974243.7768c"
            ]
        ]
    },
    {
        "id": "88974243.7768c",
        "type": "http response",
        "z": "461370def5ae9f29",
        "g": "4d8c8f28dfe52f8f",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1650,
        "y": 300,
        "wires": []
    },
    {
        "id": "6d83634d94486b46",
        "type": "change",
        "z": "461370def5ae9f29",
        "g": "4d8c8f28dfe52f8f",
        "name": "fix filename",
        "rules": [
            {
                "t": "set",
                "p": "filename",
                "pt": "msg",
                "to": "$join([\"\\/iotmqttpanel\\/\",msg.req.params.name, \".json.gz\"])",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1430,
        "y": 240,
        "wires": [
            [
                "2fb1c354.d04e3c"
            ]
        ]
    },
    {
        "id": "4968b0f0947a18fd",
        "type": "http in",
        "z": "461370def5ae9f29",
        "g": "5e49990c5594c5de",
        "name": "",
        "url": "configs",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 1230,
        "y": 60,
        "wires": [
            [
                "72a91dc3f71c5628"
            ]
        ]
    },
    {
        "id": "72a91dc3f71c5628",
        "type": "file in",
        "z": "461370def5ae9f29",
        "g": "5e49990c5594c5de",
        "name": "",
        "filename": "/iotmqttpanel/index.html",
        "filenameType": "str",
        "format": "",
        "encoding": "utf8",
        "allProps": false,
        "x": 1450,
        "y": 60,
        "wires": [
            [
                "336e1c9f9f7863c3"
            ]
        ]
    },
    {
        "id": "336e1c9f9f7863c3",
        "type": "change",
        "z": "461370def5ae9f29",
        "g": "5e49990c5594c5de",
        "name": "Set Headers",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers.Content-Type",
                "pt": "msg",
                "to": "text/html; charset=UTF-8",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1490,
        "y": 120,
        "wires": [
            [
                "466e7463bea381a5"
            ]
        ]
    },
    {
        "id": "466e7463bea381a5",
        "type": "http response",
        "z": "461370def5ae9f29",
        "g": "5e49990c5594c5de",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1650,
        "y": 120,
        "wires": []
    },
    {
        "id": "c007cf0a8f6ecb9d",
        "type": "mqtt in",
        "z": "461370def5ae9f29",
        "g": "8c14fa25e0d7ed09",
        "name": "Waterpump on/off with bath light",
        "topic": "rvc/state/waterpump/onwithlight",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9c5de13d667d7ea6",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 800,
        "wires": [
            [
                "884659a131ce6301"
            ]
        ]
    },
    {
        "id": "f8167042542871b6",
        "type": "mqtt in",
        "z": "461370def5ae9f29",
        "g": "8c14fa25e0d7ed09",
        "name": "Bath Light",
        "topic": "rvc/state/lights/int/bath",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9c5de13d667d7ea6",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 740,
        "wires": [
            [
                "76013d200721d922"
            ]
        ]
    },
    {
        "id": "e41f7fe39d3063c9",
        "type": "mqtt out",
        "z": "461370def5ae9f29",
        "g": "8c14fa25e0d7ed09",
        "name": "Waterpump on/off",
        "topic": "rvc/set/waterpump",
        "qos": "",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c5de13d667d7ea6",
        "x": 1090,
        "y": 800,
        "wires": []
    },
    {
        "id": "76013d200721d922",
        "type": "change",
        "z": "461370def5ae9f29",
        "g": "8c14fa25e0d7ed09",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "light",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 740,
        "wires": [
            [
                "27b07dd7f46a8f5a"
            ]
        ]
    },
    {
        "id": "884659a131ce6301",
        "type": "change",
        "z": "461370def5ae9f29",
        "g": "8c14fa25e0d7ed09",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "follow",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 800,
        "wires": [
            [
                "27b07dd7f46a8f5a"
            ]
        ]
    },
    {
        "id": "27b07dd7f46a8f5a",
        "type": "join",
        "z": "461370def5ae9f29",
        "g": "8c14fa25e0d7ed09",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": true,
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 570,
        "y": 740,
        "wires": [
            [
                "704358f08a05ba0b"
            ]
        ]
    },
    {
        "id": "12938516e76b5b2a",
        "type": "mqtt out",
        "z": "461370def5ae9f29",
        "g": "8c14fa25e0d7ed09",
        "name": "Waterpump on with light state",
        "topic": "rvc/state/waterpump/onwithlight",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c5de13d667d7ea6",
        "x": 630,
        "y": 580,
        "wires": []
    },
    {
        "id": "c18dc8fc98a493de",
        "type": "mqtt in",
        "z": "461370def5ae9f29",
        "g": "8c14fa25e0d7ed09",
        "name": "Set waterpump on with light state",
        "topic": "rvc/set/waterpump/onwithlight",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9c5de13d667d7ea6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 580,
        "wires": [
            [
                "ca9728e223f0b49b"
            ]
        ]
    },
    {
        "id": "ca9728e223f0b49b",
        "type": "switch",
        "z": "461370def5ae9f29",
        "g": "8c14fa25e0d7ed09",
        "name": "On/Off",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "on|1",
                "vt": "str",
                "case": true
            },
            {
                "t": "regex",
                "v": "off|0",
                "vt": "str",
                "case": true
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 390,
        "y": 580,
        "wires": [
            [
                "12938516e76b5b2a"
            ],
            [
                "12938516e76b5b2a"
            ]
        ]
    },
    {
        "id": "704358f08a05ba0b",
        "type": "change",
        "z": "461370def5ae9f29",
        "g": "8c14fa25e0d7ed09",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "(\t   $string(msg.payload.light) = \"on\" and $string(msg.payload.follow) = \"on\"\t) ? \"on\" : \"off\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 800,
        "wires": [
            [
                "2a4021e7d9063c63"
            ]
        ]
    },
    {
        "id": "9344180afa8c6abb",
        "type": "mqtt in",
        "z": "461370def5ae9f29",
        "g": "bbfe14ccd0c2c200",
        "name": "Inverter Connected",
        "topic": "modbus/inverter/connected",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9c5de13d667d7ea6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 1440,
        "wires": [
            [
                "6f4c8143b1c82f43"
            ]
        ]
    },
    {
        "id": "99460a572baf77ee",
        "type": "mqtt out",
        "z": "461370def5ae9f29",
        "g": "bbfe14ccd0c2c200",
        "name": "Send Password",
        "topic": "modbus/inverter/set/password",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c5de13d667d7ea6",
        "x": 1020,
        "y": 1440,
        "wires": []
    },
    {
        "id": "67c5467db2d20501",
        "type": "change",
        "z": "461370def5ae9f29",
        "g": "bbfe14ccd0c2c200",
        "name": "Password",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "(\t   (payload.connected = \"online\"  or payload.connected = \"true\") and payload.bridge_online = \"online\" and payload.entered = 0\t) ? 255 : \"false\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 1440,
        "wires": [
            [
                "bc7473d4c9dffa6e"
            ]
        ]
    },
    {
        "id": "87f7ce4eef5630c0",
        "type": "mqtt in",
        "z": "461370def5ae9f29",
        "g": "bbfe14ccd0c2c200",
        "name": "Inverter commands",
        "topic": "modbus/inverter/set/chargevalues",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9c5de13d667d7ea6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 1640,
        "wires": [
            [
                "08ad687c9916d15c",
                "ee9c395727168735",
                "254a2e9a7473b302"
            ]
        ]
    },
    {
        "id": "b50fbcc598059709",
        "type": "mqtt out",
        "z": "461370def5ae9f29",
        "g": "bbfe14ccd0c2c200",
        "name": "Inverter On/Off",
        "topic": "modbus/inverter/set/onoff",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c5de13d667d7ea6",
        "x": 920,
        "y": 1560,
        "wires": []
    },
    {
        "id": "2407c60b8a5dc6df",
        "type": "mqtt out",
        "z": "461370def5ae9f29",
        "g": "bbfe14ccd0c2c200",
        "name": "Set Charging Current",
        "topic": "modbus/inverter/set/current",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c5de13d667d7ea6",
        "x": 960,
        "y": 1620,
        "wires": []
    },
    {
        "id": "503cf7179fb74f8d",
        "type": "mqtt out",
        "z": "461370def5ae9f29",
        "g": "bbfe14ccd0c2c200",
        "name": "Set Charging Volts",
        "topic": "modbus/inverter/set/chargevolts",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c5de13d667d7ea6",
        "x": 990,
        "y": 1680,
        "wires": []
    },
    {
        "id": "861112a0020f7f31",
        "type": "switch",
        "z": "461370def5ae9f29",
        "g": "bbfe14ccd0c2c200",
        "name": "Valid on/off message",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "0|1",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 620,
        "y": 1600,
        "wires": [
            [
                "b50fbcc598059709"
            ]
        ]
    },
    {
        "id": "e2bce4c55c7fe268",
        "type": "switch",
        "z": "461370def5ae9f29",
        "g": "bbfe14ccd0c2c200",
        "name": "Valid Current message",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "50|100|150|200|250|300|350|400",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 620,
        "y": 1640,
        "wires": [
            [
                "2407c60b8a5dc6df"
            ]
        ]
    },
    {
        "id": "8139e17154ceebed",
        "type": "switch",
        "z": "461370def5ae9f29",
        "g": "bbfe14ccd0c2c200",
        "name": "Valid Voltage message",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "524|528|532|536|540|544|548",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 620,
        "y": 1680,
        "wires": [
            [
                "503cf7179fb74f8d"
            ]
        ]
    },
    {
        "id": "08ad687c9916d15c",
        "type": "change",
        "z": "461370def5ae9f29",
        "g": "bbfe14ccd0c2c200",
        "name": "current",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.current",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 1640,
        "wires": [
            [
                "e2bce4c55c7fe268"
            ]
        ]
    },
    {
        "id": "ee9c395727168735",
        "type": "change",
        "z": "461370def5ae9f29",
        "g": "bbfe14ccd0c2c200",
        "name": "voltage",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.volts",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 1680,
        "wires": [
            [
                "8139e17154ceebed"
            ]
        ]
    },
    {
        "id": "254a2e9a7473b302",
        "type": "change",
        "z": "461370def5ae9f29",
        "g": "bbfe14ccd0c2c200",
        "name": "on/off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.on",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 1600,
        "wires": [
            [
                "861112a0020f7f31"
            ]
        ]
    },
    {
        "id": "44fea75c5f8e6724",
        "type": "mqtt in",
        "z": "461370def5ae9f29",
        "g": "bbfe14ccd0c2c200",
        "name": "Password Entered?",
        "topic": "modbus/inverter/state/password_entered",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "9c5de13d667d7ea6",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 1560,
        "wires": [
            [
                "50f34a62fb3d00b4"
            ]
        ]
    },
    {
        "id": "d96784b99d2320a6",
        "type": "join",
        "z": "461370def5ae9f29",
        "g": "bbfe14ccd0c2c200",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": true,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 490,
        "y": 1440,
        "wires": [
            [
                "67c5467db2d20501"
            ]
        ]
    },
    {
        "id": "6f4c8143b1c82f43",
        "type": "change",
        "z": "461370def5ae9f29",
        "g": "bbfe14ccd0c2c200",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "connected",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 1440,
        "wires": [
            [
                "d96784b99d2320a6"
            ]
        ]
    },
    {
        "id": "50f34a62fb3d00b4",
        "type": "change",
        "z": "461370def5ae9f29",
        "g": "bbfe14ccd0c2c200",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "entered",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 1540,
        "wires": [
            [
                "d96784b99d2320a6"
            ]
        ]
    },
    {
        "id": "bc7473d4c9dffa6e",
        "type": "switch",
        "z": "461370def5ae9f29",
        "g": "bbfe14ccd0c2c200",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "255",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 770,
        "y": 1440,
        "wires": [
            [
                "99460a572baf77ee"
            ]
        ]
    },
    {
        "id": "ac53f268b25343ad",
        "type": "mqtt in",
        "z": "461370def5ae9f29",
        "g": "bbfe14ccd0c2c200",
        "name": "Inverter Connected",
        "topic": "modbus/connected",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9c5de13d667d7ea6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 1500,
        "wires": [
            [
                "1b96b5ee5187d17a"
            ]
        ]
    },
    {
        "id": "1b96b5ee5187d17a",
        "type": "change",
        "z": "461370def5ae9f29",
        "g": "bbfe14ccd0c2c200",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "bridge_online",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 1480,
        "wires": [
            [
                "d96784b99d2320a6"
            ]
        ]
    },
    {
        "id": "3f564506d8e4f9af",
        "type": "inject",
        "z": "461370def5ae9f29",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "rvc/set/aps/terminal",
        "payload": "$RAS:",
        "payloadType": "str",
        "x": 640,
        "y": 2100,
        "wires": [
            [
                "4251f3c87c87c8f3"
            ]
        ]
    },
    {
        "id": "4251f3c87c87c8f3",
        "type": "mqtt out",
        "z": "461370def5ae9f29",
        "name": "Request APS Status",
        "topic": "rvc/set/aps/terminal",
        "qos": "",
        "retain": "false",
        "respTopic": "rvc/state/aps/status",
        "contentType": "",
        "userProps": "",
        "correl": "RAS",
        "expiry": "",
        "broker": "9c5de13d667d7ea6",
        "x": 880,
        "y": 2160,
        "wires": []
    },
    {
        "id": "97a264cd9f19d1b5",
        "type": "mqtt in",
        "z": "461370def5ae9f29",
        "name": "Get APS status",
        "topic": "rvc/state/aps/status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9c5de13d667d7ea6",
        "nl": false,
        "rap": false,
        "rh": "2",
        "inputs": 0,
        "x": 120,
        "y": 2300,
        "wires": [
            [
                "63a4499e653973ee"
            ]
        ]
    },
    {
        "id": "63a4499e653973ee",
        "type": "csv",
        "z": "461370def5ae9f29",
        "name": "",
        "spec": "rfc",
        "sep": ",",
        "hdrin": "",
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": false,
        "include_null_values": false,
        "x": 290,
        "y": 2300,
        "wires": [
            [
                "5fc0aa4c41a241c3"
            ]
        ]
    },
    {
        "id": "5fc0aa4c41a241c3",
        "type": "function",
        "z": "461370def5ae9f29",
        "name": "Get Engine RPMs from AST;",
        "func": "if (msg.payload.col1 === \"AST;\") {\n    msg.payload = msg.payload.col17;\n    msg.topic = \"rpms\";\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 2300,
        "wires": [
            [
                "c8e204303f7226cc",
                "00286552cd91d4d9"
            ]
        ]
    },
    {
        "id": "5623dfcb82d34dc5",
        "type": "mqtt in",
        "z": "461370def5ae9f29",
        "name": "Ignition status",
        "topic": "rvc/state/g12/inputs/10/active",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9c5de13d667d7ea6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 2240,
        "wires": [
            [
                "69408f305dc7f01d"
            ]
        ]
    },
    {
        "id": "c8e204303f7226cc",
        "type": "join",
        "z": "461370def5ae9f29",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": true,
        "timeout": "",
        "count": "1",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 710,
        "y": 2240,
        "wires": [
            [
                "953f2fd7a6f080a2"
            ]
        ]
    },
    {
        "id": "69408f305dc7f01d",
        "type": "change",
        "z": "461370def5ae9f29",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "ignition_on",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 2240,
        "wires": [
            [
                "c8e204303f7226cc",
                "31d3e15f1a1cfd97"
            ]
        ]
    },
    {
        "id": "953f2fd7a6f080a2",
        "type": "function",
        "z": "461370def5ae9f29",
        "name": "function 1",
        "func": "msg.payload = (msg.payload.ignition_on === true && msg.payload.rpms > 100) ? \"ON\" : \"OFF\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 2240,
        "wires": [
            [
                "f2faf23a455f9473",
                "c8bd01d675ca38f8"
            ]
        ]
    },
    {
        "id": "63fa8503f41db178",
        "type": "function",
        "z": "461370def5ae9f29",
        "g": "8c14fa25e0d7ed09",
        "name": "startup gate",
        "func": "if (!context.get(\"ready\")) return null;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\ncontext.set(\"ready\", false);\nsetTimeout(() => context.set(\"ready\", true), 2000);",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 800,
        "wires": [
            [
                "e41f7fe39d3063c9"
            ]
        ]
    },
    {
        "id": "2a4021e7d9063c63",
        "type": "rbe",
        "z": "461370def5ae9f29",
        "g": "8c14fa25e0d7ed09",
        "name": "",
        "func": "rbei",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 770,
        "y": 800,
        "wires": [
            [
                "63fa8503f41db178"
            ]
        ]
    },
    {
        "id": "31d3e15f1a1cfd97",
        "type": "trigger",
        "z": "461370def5ae9f29",
        "name": "",
        "op1": "$RAS:",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-20",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "false",
        "bytopic": "topic",
        "topic": "topic",
        "outputs": 1,
        "x": 630,
        "y": 2160,
        "wires": [
            [
                "4251f3c87c87c8f3"
            ]
        ]
    },
    {
        "id": "c8bd01d675ca38f8",
        "type": "debug",
        "z": "461370def5ae9f29",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 2140,
        "wires": []
    },
    {
        "id": "ha_disco_inject2",
        "type": "inject",
        "z": "461370def5ae9f29",
        "name": "Publish HA Discovery",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 2380,
        "wires": [
            [
                "ha_disco_fn2"
            ]
        ]
    },
    {
        "id": "ha_disco_fn2",
        "type": "function",
        "z": "461370def5ae9f29",
        "name": "Build HA discovery config",
        "func": "return {\n    topic: \"homeassistant/binary_sensor/engine_running/config\",\n    payload: JSON.stringify({\n        name: \"Engine Running\",\n        unique_id: \"engine_running\",\n        state_topic: \"rvc/state/engine_running\",\n        device_class: \"running\",\n        device: { identifiers: [\"rv_engine\"], name: \"Engine\" }\n    }),\n    retain: true\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 2380,
        "wires": [
            [
                "ha_disco_mqtt3"
            ]
        ]
    },
    {
        "id": "ha_disco_mqtt3",
        "type": "mqtt out",
        "z": "461370def5ae9f29",
        "name": "binary_sensor config",
        "topic": "",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c5de13d667d7ea6",
        "x": 620,
        "y": 2380,
        "wires": []
    },
    {
        "id": "00286552cd91d4d9",
        "type": "debug",
        "z": "461370def5ae9f29",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 2300,
        "wires": []
    },
    {
        "id": "6126943c2377eeaa",
        "type": "inject",
        "z": "d7b1b7dbf8e4bc1b",
        "name": "Cap Watts - Jayco config",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "rvc/set/aps/terminal",
        "payload": "$SCA: 0,100,0.31,0.23,0.00,0,0,0,10000,0,0,30,8,6",
        "payloadType": "str",
        "x": 230,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "70bca515520bb512",
        "type": "inject",
        "z": "d7b1b7dbf8e4bc1b",
        "name": "Cap Watts to {cap} value",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "rvc/set/aps/terminal",
        "payload": "$SCA: 0,100,0.31,0.23,0.00,0,0,{cap},10000,0,0,30,8,6",
        "payloadType": "str",
        "x": 230,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "ad6b06d78cba5c8a",
        "type": "inject",
        "z": "d7b1b7dbf8e4bc1b",
        "name": "- Jayco config",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "rvc/set/aps/terminal",
        "payload": "$CCN: 0,1,120, 2,1,1,0,201,0,0,0.0,0",
        "payloadType": "str",
        "x": 190,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "940ed8ee59f10842",
        "type": "inject",
        "z": "d7b1b7dbf8e4bc1b",
        "name": " - Constant voltage on fault",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "rvc/set/aps/terminal",
        "payload": "$CCN: 0,1,120, 2,1,1,0,201,0,0,13.2,0",
        "payloadType": "str",
        "x": 230,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "1ff10e54cf967596",
        "type": "inject",
        "z": "d7b1b7dbf8e4bc1b",
        "name": "Request All Status",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "responseTopic",
                "v": "rvc/state/aps/terminal",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "rvc/set/aps/terminal",
        "payload": "$RAS:",
        "payloadType": "str",
        "x": 210,
        "y": 400,
        "wires": [
            [
                "1b4260dc47176f33"
            ]
        ]
    },
    {
        "id": "1b4260dc47176f33",
        "type": "mqtt out",
        "z": "d7b1b7dbf8e4bc1b",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c5de13d667d7ea6",
        "x": 670,
        "y": 300,
        "wires": []
    },
    {
        "id": "220024b6baab89d3",
        "type": "inject",
        "z": "d7b1b7dbf8e4bc1b",
        "name": "Request Charge Profile",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "responseTopic",
                "v": "rvc/state/aps/terminal",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "rvc/set/aps/terminal",
        "payload": "$RCP:0",
        "payloadType": "str",
        "x": 220,
        "y": 460,
        "wires": [
            [
                "1b4260dc47176f33"
            ]
        ]
    },
    {
        "id": "4a64fc37a64131ac",
        "type": "inject",
        "z": "d7b1b7dbf8e4bc1b",
        "name": "Request Logs",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "responseTopic",
                "v": "rvc/state/aps/terminal",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "rvc/set/aps/terminal",
        "payload": "",
        "payloadType": "str",
        "x": 190,
        "y": 520,
        "wires": [
            [
                "1b4260dc47176f33"
            ]
        ]
    }
]