node-red-data/flows.json
[
    {
        "id": "461370def5ae9f29",
        "type": "tab",
        "label": "RV",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a6c5fe6fe51d9491",
        "type": "group",
        "z": "461370def5ae9f29",
        "name": "All Interior Lights On/Off",
        "style": {
            "label": true
        },
        "nodes": [
            "565f94900dad66c1",
            "9aab03227baf2c31",
            "ed5f24e6555f5959",
            "e253e180ac9dfbd7",
            "45b263d90d026331",
            "671d48be58e2957d",
            "45fe68c62ecda7d2",
            "15d128e60de3a72e"
        ],
        "x": 34,
        "y": 19,
        "w": 572,
        "h": 402
    },
    {
        "id": "1395a37395e0e102",
        "type": "group",
        "z": "461370def5ae9f29",
        "name": "All Exterior LIghts On/Off",
        "style": {
            "label": true
        },
        "nodes": [
            "262f70e78be05140",
            "ee791ed32bc97ea3",
            "c659308b78326c22",
            "837942b8be60ba07"
        ],
        "x": 634,
        "y": 19,
        "w": 492,
        "h": 162
    },
    {
        "id": "c12c2f76c53497c3",
        "type": "group",
        "z": "461370def5ae9f29",
        "name": "Tank Heaters",
        "style": {
            "label": true
        },
        "nodes": [
            "b524736fd0721f3e",
            "d53d81e1854f8808",
            "b8dce80b40c712bc",
            "cbf88b070f3d5a38",
            "0abfd0b6f481ca76",
            "0483df95700cddd7",
            "b6c0bce97e61eacf",
            "40a09cf8762e20fc",
            "11a22a163de4bdeb",
            "36ea8dbc04c2896d",
            "5ebc3701f2d87b16",
            "86b093c9d3339094",
            "799c9e98a21c0fd2",
            "98054278a786114a",
            "57609fee550c144d",
            "e32b947ea66437e7",
            "c8231a11beb11ef4",
            "6771b289fc7ba3e6",
            "794847aaa61df307",
            "3103bfeb47c99553"
        ],
        "x": 34,
        "y": 859,
        "w": 1092,
        "h": 522
    },
    {
        "id": "09769311b4ac2cf1",
        "type": "group",
        "z": "461370def5ae9f29",
        "name": "Inverter",
        "style": {
            "label": true
        },
        "nodes": [
            "9344180afa8c6abb",
            "99460a572baf77ee",
            "67c5467db2d20501",
            "87f7ce4eef5630c0",
            "b50fbcc598059709",
            "2407c60b8a5dc6df",
            "503cf7179fb74f8d",
            "861112a0020f7f31",
            "e2bce4c55c7fe268",
            "8139e17154ceebed",
            "08ad687c9916d15c",
            "ee9c395727168735",
            "254a2e9a7473b302",
            "44fea75c5f8e6724",
            "d96784b99d2320a6",
            "6f4c8143b1c82f43",
            "50f34a62fb3d00b4",
            "bc7473d4c9dffa6e"
        ],
        "x": 34,
        "y": 1399,
        "w": 1092,
        "h": 262
    },
    {
        "id": "ea608056f5f6ac2b",
        "type": "group",
        "z": "461370def5ae9f29",
        "name": "12v off",
        "style": {
            "label": true
        },
        "nodes": [
            "8d7abbd8f26fc3d4",
            "26f87845326b9325",
            "e70af8437ec06aec",
            "bff4dae4164b4f63",
            "36f9ecbb6c41b055",
            "69b254900e28d12a"
        ],
        "x": 634,
        "y": 199,
        "w": 492,
        "h": 262
    },
    {
        "id": "da25f673c8d00e23",
        "type": "group",
        "z": "461370def5ae9f29",
        "name": "Engine Status",
        "style": {
            "label": true
        },
        "nodes": [
            "72f8f28cb6aa5cde",
            "f2faf23a455f9473",
            "eefe4b2a2c5fdbbc",
            "15ddb8cb91c43a6b",
            "036dbeb2e4bfd75c",
            "22fdf931950289a3"
        ],
        "x": 34,
        "y": 1959,
        "w": 1052,
        "h": 122
    },
    {
        "id": "4d8c8f28dfe52f8f",
        "type": "group",
        "z": "461370def5ae9f29",
        "name": "Serve IoT MQTT Panel config files",
        "style": {
            "label": true
        },
        "nodes": [
            "c7e341a0.381cc",
            "2fb1c354.d04e3c",
            "c9e28681.361d78",
            "88974243.7768c",
            "6d83634d94486b46"
        ],
        "x": 1134,
        "y": 199,
        "w": 592,
        "h": 142
    },
    {
        "id": "5e49990c5594c5de",
        "type": "group",
        "z": "461370def5ae9f29",
        "name": "Serve IoT MQTT Panel config files",
        "style": {
            "label": true
        },
        "nodes": [
            "4968b0f0947a18fd",
            "72a91dc3f71c5628",
            "336e1c9f9f7863c3",
            "466e7463bea381a5"
        ],
        "x": 1134,
        "y": 19,
        "w": 592,
        "h": 142
    },
    {
        "id": "8c14fa25e0d7ed09",
        "type": "group",
        "z": "461370def5ae9f29",
        "name": "Water Pump",
        "style": {
            "label": true
        },
        "nodes": [
            "ae210c14b36c6658",
            "168f712ef2988436",
            "6f87d76a19b86c29",
            "0e97071128a08c98",
            "c5f8bdad3c8514d0",
            "ffda1ddc64725d23",
            "070c4bf4f064bf89",
            "eccc68bd27dd4cc4",
            "3119e84fbf050a0f",
            "bd8d7cbb2ae6c1f0",
            "aa30463be30f33d4",
            "f8167042542871b6",
            "e41f7fe39d3063c9",
            "76013d200721d922",
            "27b07dd7f46a8f5a",
            "704358f08a05ba0b",
            "12938516e76b5b2a",
            "c18dc8fc98a493de",
            "ca9728e223f0b49b",
            "884659a131ce6301",
            "c007cf0a8f6ecb9d"
        ],
        "x": 34,
        "y": 479,
        "w": 1092,
        "h": 362
    },
    {
        "id": "c8afc486318bceee",
        "type": "group",
        "z": "461370def5ae9f29",
        "name": "Generator",
        "style": {
            "label": true
        },
        "nodes": [
            "e7d682c6c64a4fcb",
            "54c38e5154622c60",
            "828e5066ebf1ae77",
            "3eb7a63818c3969f",
            "4662f0fa23be13ec",
            "4abf5902c4d0a16f",
            "3a9acc171d673236",
            "910a986291492aef",
            "3b0a4ae6d4c2d170",
            "ddfa655775159001",
            "26101017d89f1e94",
            "0d1ffa76fffb27cf",
            "a5cac8aca07d2273",
            "5d60730d299ce644"
        ],
        "x": 34,
        "y": 1679,
        "w": 1042,
        "h": 262
    },
    {
        "id": "9c5de13d667d7ea6",
        "type": "mqtt-broker",
        "name": "mosquitto",
        "broker": "mosquitto",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "262f70e78be05140",
        "type": "mqtt in",
        "z": "461370def5ae9f29",
        "g": "1395a37395e0e102",
        "name": "All Exterior Lights",
        "topic": "rvc/set/lights/ext/all",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9c5de13d667d7ea6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 740,
        "y": 60,
        "wires": [
            [
                "ee791ed32bc97ea3"
            ]
        ]
    },
    {
        "id": "ee791ed32bc97ea3",
        "type": "switch",
        "z": "461370def5ae9f29",
        "g": "1395a37395e0e102",
        "name": "On/Off",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 810,
        "y": 120,
        "wires": [
            [
                "c659308b78326c22",
                "837942b8be60ba07"
            ],
            [
                "c659308b78326c22",
                "837942b8be60ba07"
            ]
        ]
    },
    {
        "id": "c659308b78326c22",
        "type": "mqtt out",
        "z": "461370def5ae9f29",
        "g": "1395a37395e0e102",
        "name": "Awning Lights",
        "topic": "rvc/set/lights/ext/awning",
        "qos": "",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c5de13d667d7ea6",
        "x": 1020,
        "y": 60,
        "wires": []
    },
    {
        "id": "837942b8be60ba07",
        "type": "mqtt out",
        "z": "461370def5ae9f29",
        "g": "1395a37395e0e102",
        "name": "Step Lights",
        "topic": "rvc/set/lights/ext/step",
        "qos": "",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c5de13d667d7ea6",
        "x": 1030,
        "y": 140,
        "wires": []
    },
    {
        "id": "565f94900dad66c1",
        "type": "mqtt out",
        "z": "461370def5ae9f29",
        "g": "a6c5fe6fe51d9491",
        "name": "Main Lights",
        "topic": "rvc/set/lights/int/main",
        "qos": "",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c5de13d667d7ea6",
        "x": 470,
        "y": 60,
        "wires": []
    },
    {
        "id": "9aab03227baf2c31",
        "type": "mqtt out",
        "z": "461370def5ae9f29",
        "g": "a6c5fe6fe51d9491",
        "name": "Living Room OHC",
        "topic": "rvc/set/lights/int/livingohc",
        "qos": "",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c5de13d667d7ea6",
        "x": 490,
        "y": 120,
        "wires": []
    },
    {
        "id": "ed5f24e6555f5959",
        "type": "mqtt out",
        "z": "461370def5ae9f29",
        "g": "a6c5fe6fe51d9491",
        "name": "Kitchen OHC",
        "topic": "rvc/set/lights/int/kitchenohc",
        "qos": "",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c5de13d667d7ea6",
        "x": 470,
        "y": 180,
        "wires": []
    },
    {
        "id": "e253e180ac9dfbd7",
        "type": "mqtt out",
        "z": "461370def5ae9f29",
        "g": "a6c5fe6fe51d9491",
        "name": "Bunk",
        "topic": "rvc/set/lights/int/bunk",
        "qos": "",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c5de13d667d7ea6",
        "x": 450,
        "y": 260,
        "wires": []
    },
    {
        "id": "45b263d90d026331",
        "type": "mqtt out",
        "z": "461370def5ae9f29",
        "g": "a6c5fe6fe51d9491",
        "name": "Bed",
        "topic": "rvc/set/lights/int/bed",
        "qos": "",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c5de13d667d7ea6",
        "x": 450,
        "y": 320,
        "wires": []
    },
    {
        "id": "671d48be58e2957d",
        "type": "mqtt out",
        "z": "461370def5ae9f29",
        "g": "a6c5fe6fe51d9491",
        "name": "Bath",
        "topic": "rvc/set/lights/int/bath",
        "qos": "",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c5de13d667d7ea6",
        "x": 450,
        "y": 380,
        "wires": []
    },
    {
        "id": "45fe68c62ecda7d2",
        "type": "mqtt in",
        "z": "461370def5ae9f29",
        "g": "a6c5fe6fe51d9491",
        "name": "All Interior Lights",
        "topic": "rvc/set/lights/int/all",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9c5de13d667d7ea6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 220,
        "wires": [
            [
                "15d128e60de3a72e"
            ]
        ]
    },
    {
        "id": "15d128e60de3a72e",
        "type": "switch",
        "z": "461370def5ae9f29",
        "g": "a6c5fe6fe51d9491",
        "name": "On/Off",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 290,
        "y": 220,
        "wires": [
            [
                "565f94900dad66c1",
                "9aab03227baf2c31",
                "ed5f24e6555f5959",
                "e253e180ac9dfbd7",
                "45b263d90d026331",
                "671d48be58e2957d"
            ],
            [
                "565f94900dad66c1",
                "9aab03227baf2c31",
                "ed5f24e6555f5959",
                "e253e180ac9dfbd7",
                "45b263d90d026331",
                "671d48be58e2957d"
            ]
        ]
    },
    {
        "id": "ae210c14b36c6658",
        "type": "mqtt in",
        "z": "461370def5ae9f29",
        "g": "8c14fa25e0d7ed09",
        "name": "Waterpump auto off",
        "topic": "rvc/state/waterpump/autooff",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9c5de13d667d7ea6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 680,
        "wires": [
            [
                "3119e84fbf050a0f"
            ]
        ]
    },
    {
        "id": "168f712ef2988436",
        "type": "mqtt out",
        "z": "461370def5ae9f29",
        "g": "8c14fa25e0d7ed09",
        "name": "Waterpump auto-off state",
        "topic": "rvc/state/waterpump/autooff",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c5de13d667d7ea6",
        "x": 610,
        "y": 520,
        "wires": []
    },
    {
        "id": "6f87d76a19b86c29",
        "type": "mqtt in",
        "z": "461370def5ae9f29",
        "g": "8c14fa25e0d7ed09",
        "name": "Set waterpump auto off state",
        "topic": "rvc/set/waterpump/autooff",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9c5de13d667d7ea6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 520,
        "wires": [
            [
                "0e97071128a08c98"
            ]
        ]
    },
    {
        "id": "0e97071128a08c98",
        "type": "switch",
        "z": "461370def5ae9f29",
        "g": "8c14fa25e0d7ed09",
        "name": "On/Off",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "on|1",
                "vt": "str",
                "case": true
            },
            {
                "t": "regex",
                "v": "off|0",
                "vt": "str",
                "case": true
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 390,
        "y": 520,
        "wires": [
            [
                "168f712ef2988436"
            ],
            [
                "168f712ef2988436"
            ]
        ]
    },
    {
        "id": "c5f8bdad3c8514d0",
        "type": "mqtt in",
        "z": "461370def5ae9f29",
        "g": "8c14fa25e0d7ed09",
        "name": "Waterpump",
        "topic": "rvc/state/waterpump",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9c5de13d667d7ea6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 620,
        "wires": [
            [
                "eccc68bd27dd4cc4"
            ]
        ]
    },
    {
        "id": "ffda1ddc64725d23",
        "type": "trigger",
        "z": "461370def5ae9f29",
        "g": "8c14fa25e0d7ed09",
        "name": "auto-off",
        "op1": "",
        "op2": "off",
        "op1type": "nul",
        "op2type": "str",
        "duration": "15",
        "extend": true,
        "overrideDelay": false,
        "units": "min",
        "reset": "off",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 840,
        "y": 660,
        "wires": [
            [
                "070c4bf4f064bf89"
            ]
        ]
    },
    {
        "id": "070c4bf4f064bf89",
        "type": "mqtt out",
        "z": "461370def5ae9f29",
        "g": "8c14fa25e0d7ed09",
        "name": "Waterpump off",
        "topic": "rvc/set/waterpump",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c5de13d667d7ea6",
        "x": 1020,
        "y": 660,
        "wires": []
    },
    {
        "id": "eccc68bd27dd4cc4",
        "type": "change",
        "z": "461370def5ae9f29",
        "g": "8c14fa25e0d7ed09",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "pump",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 620,
        "wires": [
            [
                "bd8d7cbb2ae6c1f0"
            ]
        ]
    },
    {
        "id": "3119e84fbf050a0f",
        "type": "change",
        "z": "461370def5ae9f29",
        "g": "8c14fa25e0d7ed09",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "autooff",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 680,
        "wires": [
            [
                "bd8d7cbb2ae6c1f0"
            ]
        ]
    },
    {
        "id": "bd8d7cbb2ae6c1f0",
        "type": "join",
        "z": "461370def5ae9f29",
        "g": "8c14fa25e0d7ed09",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": true,
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 490,
        "y": 660,
        "wires": [
            [
                "aa30463be30f33d4"
            ]
        ]
    },
    {
        "id": "aa30463be30f33d4",
        "type": "change",
        "z": "461370def5ae9f29",
        "g": "8c14fa25e0d7ed09",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "($string(msg.payload.pump) = \"on\" and $string(msg.payload.autooff) = \"on\") ? \"on\" : \"off\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 660,
        "wires": [
            [
                "ffda1ddc64725d23"
            ]
        ]
    },
    {
        "id": "b524736fd0721f3e",
        "type": "mqtt in",
        "z": "461370def5ae9f29",
        "g": "c12c2f76c53497c3",
        "name": "All Tank Heaters state",
        "topic": "rvc/set/tanks/all/heater",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9c5de13d667d7ea6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 1020,
        "wires": [
            [
                "b6c0bce97e61eacf"
            ]
        ]
    },
    {
        "id": "d53d81e1854f8808",
        "type": "mqtt out",
        "z": "461370def5ae9f29",
        "g": "c12c2f76c53497c3",
        "name": "Black Tank Heater",
        "topic": "rvc/set/tanks/black/heater",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c5de13d667d7ea6",
        "x": 610,
        "y": 960,
        "wires": []
    },
    {
        "id": "b8dce80b40c712bc",
        "type": "mqtt out",
        "z": "461370def5ae9f29",
        "g": "c12c2f76c53497c3",
        "name": "Fresh Tank Heater",
        "topic": "rvc/set/tanks/fresh/heater",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c5de13d667d7ea6",
        "x": 610,
        "y": 1020,
        "wires": []
    },
    {
        "id": "cbf88b070f3d5a38",
        "type": "mqtt out",
        "z": "461370def5ae9f29",
        "g": "c12c2f76c53497c3",
        "name": "Gray Tank Heater",
        "topic": "rvc/set/tanks/gray/heater",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c5de13d667d7ea6",
        "x": 610,
        "y": 1080,
        "wires": []
    },
    {
        "id": "0abfd0b6f481ca76",
        "type": "mqtt out",
        "z": "461370def5ae9f29",
        "g": "c12c2f76c53497c3",
        "name": "Gray 2 Tank Heater",
        "topic": "rvc/set/tanks/gray2/heater",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c5de13d667d7ea6",
        "x": 610,
        "y": 1140,
        "wires": []
    },
    {
        "id": "0483df95700cddd7",
        "type": "mqtt out",
        "z": "461370def5ae9f29",
        "g": "c12c2f76c53497c3",
        "name": "All Tank Heaters State",
        "topic": "rvc/state/tanks/all/heater",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c5de13d667d7ea6",
        "x": 600,
        "y": 900,
        "wires": []
    },
    {
        "id": "b6c0bce97e61eacf",
        "type": "switch",
        "z": "461370def5ae9f29",
        "g": "c12c2f76c53497c3",
        "name": "On/Off",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 330,
        "y": 1020,
        "wires": [
            [
                "d53d81e1854f8808",
                "b8dce80b40c712bc",
                "cbf88b070f3d5a38",
                "0abfd0b6f481ca76",
                "0483df95700cddd7"
            ],
            [
                "d53d81e1854f8808",
                "b8dce80b40c712bc",
                "cbf88b070f3d5a38",
                "0abfd0b6f481ca76",
                "0483df95700cddd7"
            ]
        ]
    },
    {
        "id": "40a09cf8762e20fc",
        "type": "mqtt in",
        "z": "461370def5ae9f29",
        "g": "c12c2f76c53497c3",
        "name": "Black Tank Heater",
        "topic": "rvc/state/tanks/black/heater",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9c5de13d667d7ea6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 1220,
        "wires": [
            [
                "799c9e98a21c0fd2"
            ]
        ]
    },
    {
        "id": "11a22a163de4bdeb",
        "type": "mqtt in",
        "z": "461370def5ae9f29",
        "g": "c12c2f76c53497c3",
        "name": "Fresh Tank Heater",
        "topic": "rvc/state/tanks/fresh/heater",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9c5de13d667d7ea6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 1260,
        "wires": [
            [
                "98054278a786114a"
            ]
        ]
    },
    {
        "id": "36ea8dbc04c2896d",
        "type": "mqtt in",
        "z": "461370def5ae9f29",
        "g": "c12c2f76c53497c3",
        "name": "Gray Tank Heater",
        "topic": "rvc/state/tanks/gray/heater",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9c5de13d667d7ea6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 1300,
        "wires": [
            [
                "57609fee550c144d"
            ]
        ]
    },
    {
        "id": "5ebc3701f2d87b16",
        "type": "mqtt in",
        "z": "461370def5ae9f29",
        "g": "c12c2f76c53497c3",
        "name": "Gray2 Tank Heater",
        "topic": "rvc/state/tanks/gray2/heater",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9c5de13d667d7ea6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 1340,
        "wires": [
            [
                "e32b947ea66437e7"
            ]
        ]
    },
    {
        "id": "86b093c9d3339094",
        "type": "change",
        "z": "461370def5ae9f29",
        "g": "c12c2f76c53497c3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "(\t   msg.payload.black = \"on\" or msg.payload.fresh = \"on\" or msg.payload.gray = \"on\" or msg.payload.gray2 = \"on\"\t) ? \"on\" : \"off\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 1280,
        "wires": [
            [
                "794847aaa61df307"
            ]
        ]
    },
    {
        "id": "799c9e98a21c0fd2",
        "type": "change",
        "z": "461370def5ae9f29",
        "g": "c12c2f76c53497c3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "black",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 1220,
        "wires": [
            [
                "6771b289fc7ba3e6"
            ]
        ]
    },
    {
        "id": "98054278a786114a",
        "type": "change",
        "z": "461370def5ae9f29",
        "g": "c12c2f76c53497c3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "fresh",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 1260,
        "wires": [
            [
                "6771b289fc7ba3e6"
            ]
        ]
    },
    {
        "id": "57609fee550c144d",
        "type": "change",
        "z": "461370def5ae9f29",
        "g": "c12c2f76c53497c3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "gray",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 1300,
        "wires": [
            [
                "6771b289fc7ba3e6"
            ]
        ]
    },
    {
        "id": "e32b947ea66437e7",
        "type": "change",
        "z": "461370def5ae9f29",
        "g": "c12c2f76c53497c3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "gray2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 1340,
        "wires": [
            [
                "6771b289fc7ba3e6"
            ]
        ]
    },
    {
        "id": "c8231a11beb11ef4",
        "type": "mqtt out",
        "z": "461370def5ae9f29",
        "g": "c12c2f76c53497c3",
        "name": "All Tank Heaters State",
        "topic": "rvc/state/tanks/all/heater",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c5de13d667d7ea6",
        "x": 1000,
        "y": 1280,
        "wires": []
    },
    {
        "id": "6771b289fc7ba3e6",
        "type": "join",
        "z": "461370def5ae9f29",
        "g": "c12c2f76c53497c3",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": ",",
        "joinerType": "str",
        "useparts": true,
        "accumulate": true,
        "timeout": "",
        "count": "4",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 490,
        "y": 1280,
        "wires": [
            [
                "86b093c9d3339094"
            ]
        ]
    },
    {
        "id": "794847aaa61df307",
        "type": "rbe",
        "z": "461370def5ae9f29",
        "g": "c12c2f76c53497c3",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload",
        "topi": "topic",
        "x": 810,
        "y": 1280,
        "wires": [
            [
                "c8231a11beb11ef4"
            ]
        ]
    },
    {
        "id": "3103bfeb47c99553",
        "type": "comment",
        "z": "461370def5ae9f29",
        "g": "c12c2f76c53497c3",
        "name": "All tank heaters indicator on if ANY heater is on",
        "info": "",
        "x": 620,
        "y": 1240,
        "wires": []
    },
    {
        "id": "9344180afa8c6abb",
        "type": "mqtt in",
        "z": "461370def5ae9f29",
        "g": "09769311b4ac2cf1",
        "name": "Inverter Connected",
        "topic": "modbus/inverter/connected",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9c5de13d667d7ea6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 1440,
        "wires": [
            [
                "6f4c8143b1c82f43"
            ]
        ]
    },
    {
        "id": "99460a572baf77ee",
        "type": "mqtt out",
        "z": "461370def5ae9f29",
        "g": "09769311b4ac2cf1",
        "name": "Send Password",
        "topic": "modbus/inverter/set/password",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c5de13d667d7ea6",
        "x": 1020,
        "y": 1440,
        "wires": []
    },
    {
        "id": "67c5467db2d20501",
        "type": "change",
        "z": "461370def5ae9f29",
        "g": "09769311b4ac2cf1",
        "name": "Password",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "(\t   payload.connected = \"True\" and payload.entered = 0\t) ? 255 : \"false\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 1440,
        "wires": [
            [
                "bc7473d4c9dffa6e"
            ]
        ]
    },
    {
        "id": "87f7ce4eef5630c0",
        "type": "mqtt in",
        "z": "461370def5ae9f29",
        "g": "09769311b4ac2cf1",
        "name": "Inverter commands",
        "topic": "modbus/inverter/set/chargevalues",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9c5de13d667d7ea6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 1580,
        "wires": [
            [
                "08ad687c9916d15c",
                "ee9c395727168735",
                "254a2e9a7473b302"
            ]
        ]
    },
    {
        "id": "b50fbcc598059709",
        "type": "mqtt out",
        "z": "461370def5ae9f29",
        "g": "09769311b4ac2cf1",
        "name": "Inverter On/Off",
        "topic": "modbus/inverter/set/onoff",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c5de13d667d7ea6",
        "x": 980,
        "y": 1540,
        "wires": []
    },
    {
        "id": "2407c60b8a5dc6df",
        "type": "mqtt out",
        "z": "461370def5ae9f29",
        "g": "09769311b4ac2cf1",
        "name": "Set Charging Current",
        "topic": "modbus/inverter/set/current",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c5de13d667d7ea6",
        "x": 1000,
        "y": 1580,
        "wires": []
    },
    {
        "id": "503cf7179fb74f8d",
        "type": "mqtt out",
        "z": "461370def5ae9f29",
        "g": "09769311b4ac2cf1",
        "name": "Set Charging Volts",
        "topic": "modbus/inverter/set/chargevolts",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c5de13d667d7ea6",
        "x": 990,
        "y": 1620,
        "wires": []
    },
    {
        "id": "861112a0020f7f31",
        "type": "switch",
        "z": "461370def5ae9f29",
        "g": "09769311b4ac2cf1",
        "name": "Valid on/off message",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "0|1",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 620,
        "y": 1540,
        "wires": [
            [
                "b50fbcc598059709"
            ]
        ]
    },
    {
        "id": "e2bce4c55c7fe268",
        "type": "switch",
        "z": "461370def5ae9f29",
        "g": "09769311b4ac2cf1",
        "name": "Valid Current message",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "50|100|150|200|250|300|350|400",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 620,
        "y": 1580,
        "wires": [
            [
                "2407c60b8a5dc6df"
            ]
        ]
    },
    {
        "id": "8139e17154ceebed",
        "type": "switch",
        "z": "461370def5ae9f29",
        "g": "09769311b4ac2cf1",
        "name": "Valid Voltage message",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "524|528|532|536|540|544|548",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 620,
        "y": 1620,
        "wires": [
            [
                "503cf7179fb74f8d"
            ]
        ]
    },
    {
        "id": "08ad687c9916d15c",
        "type": "change",
        "z": "461370def5ae9f29",
        "g": "09769311b4ac2cf1",
        "name": "current",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.current",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 1580,
        "wires": [
            [
                "e2bce4c55c7fe268"
            ]
        ]
    },
    {
        "id": "ee9c395727168735",
        "type": "change",
        "z": "461370def5ae9f29",
        "g": "09769311b4ac2cf1",
        "name": "voltage",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.volts",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 1620,
        "wires": [
            [
                "8139e17154ceebed"
            ]
        ]
    },
    {
        "id": "254a2e9a7473b302",
        "type": "change",
        "z": "461370def5ae9f29",
        "g": "09769311b4ac2cf1",
        "name": "on/off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.on",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 1540,
        "wires": [
            [
                "861112a0020f7f31"
            ]
        ]
    },
    {
        "id": "8d7abbd8f26fc3d4",
        "type": "mqtt in",
        "z": "461370def5ae9f29",
        "g": "ea608056f5f6ac2b",
        "name": "All 12v Off",
        "topic": "rvc/set/alloff",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9c5de13d667d7ea6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 720,
        "y": 260,
        "wires": [
            [
                "26f87845326b9325",
                "e70af8437ec06aec",
                "bff4dae4164b4f63",
                "36f9ecbb6c41b055",
                "69b254900e28d12a"
            ]
        ]
    },
    {
        "id": "26f87845326b9325",
        "type": "mqtt out",
        "z": "461370def5ae9f29",
        "g": "ea608056f5f6ac2b",
        "name": "Interior lights off",
        "topic": "rvc/set/lights/int/all",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c5de13d667d7ea6",
        "x": 1020,
        "y": 240,
        "wires": []
    },
    {
        "id": "e70af8437ec06aec",
        "type": "mqtt out",
        "z": "461370def5ae9f29",
        "g": "ea608056f5f6ac2b",
        "name": "Exterior lights off",
        "topic": "rvc/set/lights/ext/all",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c5de13d667d7ea6",
        "x": 1010,
        "y": 300,
        "wires": []
    },
    {
        "id": "bff4dae4164b4f63",
        "type": "mqtt out",
        "z": "461370def5ae9f29",
        "g": "ea608056f5f6ac2b",
        "name": "Waterpump off",
        "topic": "rvc/state/waterpump",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c5de13d667d7ea6",
        "x": 1020,
        "y": 360,
        "wires": []
    },
    {
        "id": "36f9ecbb6c41b055",
        "type": "mqtt out",
        "z": "461370def5ae9f29",
        "g": "ea608056f5f6ac2b",
        "name": "Tank Heaters off",
        "topic": "rvc/set/tanks/all/heater",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c5de13d667d7ea6",
        "x": 1020,
        "y": 420,
        "wires": []
    },
    {
        "id": "69b254900e28d12a",
        "type": "mqtt out",
        "z": "461370def5ae9f29",
        "g": "ea608056f5f6ac2b",
        "name": "Bath fan off",
        "topic": "rvc/set/lights/int/bathfan",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c5de13d667d7ea6",
        "x": 750,
        "y": 320,
        "wires": []
    },
    {
        "id": "e7d682c6c64a4fcb",
        "type": "mqtt in",
        "z": "461370def5ae9f29",
        "d": true,
        "g": "c8afc486318bceee",
        "name": "Start/Stop Generator",
        "topic": "rvc/set/generator/start",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9c5de13d667d7ea6",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 1780,
        "wires": [
            [
                "26101017d89f1e94"
            ]
        ]
    },
    {
        "id": "54c38e5154622c60",
        "type": "mqtt out",
        "z": "461370def5ae9f29",
        "d": true,
        "g": "c8afc486318bceee",
        "name": "Stop Trigger",
        "topic": "",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c5de13d667d7ea6",
        "x": 980,
        "y": 1720,
        "wires": []
    },
    {
        "id": "828e5066ebf1ae77",
        "type": "delay",
        "z": "461370def5ae9f29",
        "d": true,
        "g": "c8afc486318bceee",
        "name": "",
        "pauseType": "delay",
        "timeout": "250",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 670,
        "y": 1780,
        "wires": [
            [
                "4662f0fa23be13ec"
            ]
        ]
    },
    {
        "id": "3eb7a63818c3969f",
        "type": "change",
        "z": "461370def5ae9f29",
        "d": true,
        "g": "c8afc486318bceee",
        "name": "send off to stop trigger",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "rvc/set/generator/stop_trigger",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 1720,
        "wires": [
            [
                "54c38e5154622c60"
            ]
        ]
    },
    {
        "id": "4662f0fa23be13ec",
        "type": "mqtt out",
        "z": "461370def5ae9f29",
        "d": true,
        "g": "c8afc486318bceee",
        "name": "Start Trigger",
        "topic": "rvc/set/generator/start_trigger",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c5de13d667d7ea6",
        "x": 980,
        "y": 1780,
        "wires": []
    },
    {
        "id": "4abf5902c4d0a16f",
        "type": "switch",
        "z": "461370def5ae9f29",
        "d": true,
        "g": "c8afc486318bceee",
        "name": "Start/Stop",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 480,
        "y": 1780,
        "wires": [
            [
                "3eb7a63818c3969f",
                "828e5066ebf1ae77"
            ],
            [
                "ddfa655775159001",
                "5d60730d299ce644"
            ]
        ]
    },
    {
        "id": "3a9acc171d673236",
        "type": "mqtt out",
        "z": "461370def5ae9f29",
        "d": true,
        "g": "c8afc486318bceee",
        "name": "Start Trigger",
        "topic": "",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c5de13d667d7ea6",
        "x": 980,
        "y": 1840,
        "wires": []
    },
    {
        "id": "910a986291492aef",
        "type": "mqtt out",
        "z": "461370def5ae9f29",
        "d": true,
        "g": "c8afc486318bceee",
        "name": "Stop Trigger",
        "topic": "rvc/set/generator/stop_trigger",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c5de13d667d7ea6",
        "x": 980,
        "y": 1900,
        "wires": []
    },
    {
        "id": "3b0a4ae6d4c2d170",
        "type": "change",
        "z": "461370def5ae9f29",
        "d": true,
        "g": "c8afc486318bceee",
        "name": "send message to stop trigger",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "on",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 1900,
        "wires": [
            [
                "910a986291492aef"
            ]
        ]
    },
    {
        "id": "ddfa655775159001",
        "type": "delay",
        "z": "461370def5ae9f29",
        "d": true,
        "g": "c8afc486318bceee",
        "name": "",
        "pauseType": "delay",
        "timeout": "250",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 560,
        "y": 1900,
        "wires": [
            [
                "3b0a4ae6d4c2d170"
            ]
        ]
    },
    {
        "id": "26101017d89f1e94",
        "type": "rbe",
        "z": "461370def5ae9f29",
        "d": true,
        "g": "c8afc486318bceee",
        "name": "",
        "func": "rbe",
        "gap": "100%",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 330,
        "y": 1780,
        "wires": [
            [
                "4abf5902c4d0a16f"
            ]
        ]
    },
    {
        "id": "44fea75c5f8e6724",
        "type": "mqtt in",
        "z": "461370def5ae9f29",
        "g": "09769311b4ac2cf1",
        "name": "Password Entered?",
        "topic": "modbus/inverter/state/password_entered",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "9c5de13d667d7ea6",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 1500,
        "wires": [
            [
                "50f34a62fb3d00b4"
            ]
        ]
    },
    {
        "id": "d96784b99d2320a6",
        "type": "join",
        "z": "461370def5ae9f29",
        "g": "09769311b4ac2cf1",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 490,
        "y": 1440,
        "wires": [
            [
                "67c5467db2d20501"
            ]
        ]
    },
    {
        "id": "6f4c8143b1c82f43",
        "type": "change",
        "z": "461370def5ae9f29",
        "g": "09769311b4ac2cf1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "connected",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 1440,
        "wires": [
            [
                "d96784b99d2320a6"
            ]
        ]
    },
    {
        "id": "50f34a62fb3d00b4",
        "type": "change",
        "z": "461370def5ae9f29",
        "g": "09769311b4ac2cf1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "entered",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 1500,
        "wires": [
            [
                "d96784b99d2320a6"
            ]
        ]
    },
    {
        "id": "bc7473d4c9dffa6e",
        "type": "switch",
        "z": "461370def5ae9f29",
        "g": "09769311b4ac2cf1",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "255",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 770,
        "y": 1440,
        "wires": [
            [
                "99460a572baf77ee"
            ]
        ]
    },
    {
        "id": "0d1ffa76fffb27cf",
        "type": "inject",
        "z": "461370def5ae9f29",
        "d": true,
        "g": "c8afc486318bceee",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "rvc/set/generator/start",
        "payload": "on",
        "payloadType": "str",
        "x": 200,
        "y": 1860,
        "wires": [
            [
                "26101017d89f1e94"
            ]
        ]
    },
    {
        "id": "a5cac8aca07d2273",
        "type": "inject",
        "z": "461370def5ae9f29",
        "d": true,
        "g": "c8afc486318bceee",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "rvc/set/generator/start",
        "payload": "off",
        "payloadType": "str",
        "x": 200,
        "y": 1900,
        "wires": [
            [
                "26101017d89f1e94"
            ]
        ]
    },
    {
        "id": "5d60730d299ce644",
        "type": "change",
        "z": "461370def5ae9f29",
        "d": true,
        "g": "c8afc486318bceee",
        "name": "send off to start trigger",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "rvc/set/generator/start_trigger",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 1840,
        "wires": [
            [
                "3a9acc171d673236"
            ]
        ]
    },
    {
        "id": "72f8f28cb6aa5cde",
        "type": "mqtt in",
        "z": "461370def5ae9f29",
        "g": "da25f673c8d00e23",
        "name": "Chassis Voltage",
        "topic": "rvc/state/dc/battery/chassis/voltage",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9c5de13d667d7ea6",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 2020,
        "wires": [
            [
                "eefe4b2a2c5fdbbc"
            ]
        ]
    },
    {
        "id": "f2faf23a455f9473",
        "type": "mqtt out",
        "z": "461370def5ae9f29",
        "g": "da25f673c8d00e23",
        "name": "",
        "topic": "rvc/state/enginestatus",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c5de13d667d7ea6",
        "x": 960,
        "y": 2020,
        "wires": []
    },
    {
        "id": "eefe4b2a2c5fdbbc",
        "type": "switch",
        "z": "461370def5ae9f29",
        "g": "da25f673c8d00e23",
        "name": ">14.2V",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "14.2",
                "vt": "num"
            },
            {
                "t": "lt",
                "v": "14.2",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 320,
        "y": 2020,
        "wires": [
            [
                "15ddb8cb91c43a6b"
            ],
            [
                "036dbeb2e4bfd75c"
            ]
        ]
    },
    {
        "id": "15ddb8cb91c43a6b",
        "type": "change",
        "z": "461370def5ae9f29",
        "g": "da25f673c8d00e23",
        "name": "send message",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Running",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 2000,
        "wires": [
            [
                "22fdf931950289a3"
            ]
        ]
    },
    {
        "id": "036dbeb2e4bfd75c",
        "type": "change",
        "z": "461370def5ae9f29",
        "g": "da25f673c8d00e23",
        "name": "send message",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 2040,
        "wires": [
            [
                "22fdf931950289a3"
            ]
        ]
    },
    {
        "id": "22fdf931950289a3",
        "type": "rbe",
        "z": "461370def5ae9f29",
        "g": "da25f673c8d00e23",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 750,
        "y": 2020,
        "wires": [
            [
                "f2faf23a455f9473"
            ]
        ]
    },
    {
        "id": "c7e341a0.381cc",
        "type": "http in",
        "z": "461370def5ae9f29",
        "g": "4d8c8f28dfe52f8f",
        "name": "",
        "url": "configs/:name",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 1250,
        "y": 240,
        "wires": [
            [
                "6d83634d94486b46"
            ]
        ]
    },
    {
        "id": "2fb1c354.d04e3c",
        "type": "file in",
        "z": "461370def5ae9f29",
        "g": "4d8c8f28dfe52f8f",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "format": "",
        "encoding": "utf8",
        "allProps": false,
        "x": 1580,
        "y": 240,
        "wires": [
            [
                "c9e28681.361d78"
            ]
        ]
    },
    {
        "id": "c9e28681.361d78",
        "type": "change",
        "z": "461370def5ae9f29",
        "g": "4d8c8f28dfe52f8f",
        "name": "Set Headers",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers.Content-Type",
                "pt": "msg",
                "to": "application/json",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "headers.Content-Encoding",
                "pt": "msg",
                "to": "gzip",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "headers.Vary",
                "pt": "msg",
                "to": "Accept-Encoding",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "headers.Content-Disposition",
                "pt": "msg",
                "to": "$join([\"attachment; filename=\\\"\",msg.req.params.name,\".json\\\"\"])",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1490,
        "y": 300,
        "wires": [
            [
                "88974243.7768c"
            ]
        ]
    },
    {
        "id": "88974243.7768c",
        "type": "http response",
        "z": "461370def5ae9f29",
        "g": "4d8c8f28dfe52f8f",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1650,
        "y": 300,
        "wires": []
    },
    {
        "id": "6d83634d94486b46",
        "type": "change",
        "z": "461370def5ae9f29",
        "g": "4d8c8f28dfe52f8f",
        "name": "fix filename",
        "rules": [
            {
                "t": "set",
                "p": "filename",
                "pt": "msg",
                "to": "$join([\"\\/iotmqttpanel\\/\",msg.req.params.name, \".json.gz\"])",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1430,
        "y": 240,
        "wires": [
            [
                "2fb1c354.d04e3c"
            ]
        ]
    },
    {
        "id": "4968b0f0947a18fd",
        "type": "http in",
        "z": "461370def5ae9f29",
        "g": "5e49990c5594c5de",
        "name": "",
        "url": "configs",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 1230,
        "y": 60,
        "wires": [
            [
                "72a91dc3f71c5628"
            ]
        ]
    },
    {
        "id": "72a91dc3f71c5628",
        "type": "file in",
        "z": "461370def5ae9f29",
        "g": "5e49990c5594c5de",
        "name": "",
        "filename": "/iotmqttpanel/index.html",
        "filenameType": "str",
        "format": "",
        "encoding": "utf8",
        "allProps": false,
        "x": 1450,
        "y": 60,
        "wires": [
            [
                "336e1c9f9f7863c3"
            ]
        ]
    },
    {
        "id": "336e1c9f9f7863c3",
        "type": "change",
        "z": "461370def5ae9f29",
        "g": "5e49990c5594c5de",
        "name": "Set Headers",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers.Content-Type",
                "pt": "msg",
                "to": "text/html; charset=UTF-8",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1490,
        "y": 120,
        "wires": [
            [
                "466e7463bea381a5"
            ]
        ]
    },
    {
        "id": "466e7463bea381a5",
        "type": "http response",
        "z": "461370def5ae9f29",
        "g": "5e49990c5594c5de",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1650,
        "y": 120,
        "wires": []
    },
    {
        "id": "c007cf0a8f6ecb9d",
        "type": "mqtt in",
        "z": "461370def5ae9f29",
        "g": "8c14fa25e0d7ed09",
        "name": "Waterpump on/off with bath light",
        "topic": "rvc/state/waterpump/onwithlight",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9c5de13d667d7ea6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 800,
        "wires": [
            [
                "884659a131ce6301"
            ]
        ]
    },
    {
        "id": "f8167042542871b6",
        "type": "mqtt in",
        "z": "461370def5ae9f29",
        "g": "8c14fa25e0d7ed09",
        "name": "Bath Light",
        "topic": "rvc/state/lights/int/bath",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9c5de13d667d7ea6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 740,
        "wires": [
            [
                "76013d200721d922"
            ]
        ]
    },
    {
        "id": "e41f7fe39d3063c9",
        "type": "mqtt out",
        "z": "461370def5ae9f29",
        "g": "8c14fa25e0d7ed09",
        "name": "Waterpump on/off",
        "topic": "rvc/set/waterpump",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c5de13d667d7ea6",
        "x": 1010,
        "y": 780,
        "wires": []
    },
    {
        "id": "76013d200721d922",
        "type": "change",
        "z": "461370def5ae9f29",
        "g": "8c14fa25e0d7ed09",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "light",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 740,
        "wires": [
            [
                "27b07dd7f46a8f5a"
            ]
        ]
    },
    {
        "id": "884659a131ce6301",
        "type": "change",
        "z": "461370def5ae9f29",
        "g": "8c14fa25e0d7ed09",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "follow",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 800,
        "wires": [
            [
                "27b07dd7f46a8f5a"
            ]
        ]
    },
    {
        "id": "27b07dd7f46a8f5a",
        "type": "join",
        "z": "461370def5ae9f29",
        "g": "8c14fa25e0d7ed09",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": true,
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 570,
        "y": 780,
        "wires": [
            [
                "704358f08a05ba0b"
            ]
        ]
    },
    {
        "id": "704358f08a05ba0b",
        "type": "change",
        "z": "461370def5ae9f29",
        "g": "8c14fa25e0d7ed09",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "($string(msg.payload.light) = \"on\" and $string(msg.payload.follow) = \"on\") ? \"on\" : \"off\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 780,
        "wires": [
            [
                "e41f7fe39d3063c9"
            ]
        ]
    },
    {
        "id": "12938516e76b5b2a",
        "type": "mqtt out",
        "z": "461370def5ae9f29",
        "g": "8c14fa25e0d7ed09",
        "name": "Waterpump on with light state",
        "topic": "rvc/state/waterpump/onwithlight",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c5de13d667d7ea6",
        "x": 630,
        "y": 580,
        "wires": []
    },
    {
        "id": "c18dc8fc98a493de",
        "type": "mqtt in",
        "z": "461370def5ae9f29",
        "g": "8c14fa25e0d7ed09",
        "name": "Set waterpump on with light state",
        "topic": "rvc/set/waterpump/onwithlight",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9c5de13d667d7ea6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 580,
        "wires": [
            [
                "ca9728e223f0b49b"
            ]
        ]
    },
    {
        "id": "ca9728e223f0b49b",
        "type": "switch",
        "z": "461370def5ae9f29",
        "g": "8c14fa25e0d7ed09",
        "name": "On/Off",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "on|1",
                "vt": "str",
                "case": true
            },
            {
                "t": "regex",
                "v": "off|0",
                "vt": "str",
                "case": true
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 390,
        "y": 580,
        "wires": [
            [
                "12938516e76b5b2a"
            ],
            [
                "12938516e76b5b2a"
            ]
        ]
    }
]